body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: #f0f4f8;
  font-family: "monospace";
  background-color: #ccc;
}

#container {
  text-align: center;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid black;
}

#counter {
  margin-bottom: 20px;
}

#count-el {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 10px;
}

button {
  padding: 12px 28px;
  font-size: 16px;
  background-color: #4338ca;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s;
}

button:hover {
  background-color: #372fa5;
  transform: translateY(-2px);
}

button:active {
  transform: scale(0.98);
}
